  @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); 

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
 
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared styles */
  .display-flex{
    display: flex;
  }

  .container{
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between; 
  align-items: center;
  }

  .btn-primary{
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background-color: blue;
  padding: 13px 16px;
  cursor: pointer;
  background: linear-gradient(55deg, #F7E93F, #FB09B4, #9100F8);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border: none;
}

.title{
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
}

.normal-text{
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
}

/* header styles */

header{
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #1A0B2E;
  border-bottom: 1px solid #412567; 
}

.header-section{
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between; 
  align-items: center;
}
.nav-links{
  gap: 32px;
    
}

.nav-item {
  list-style: none;
}

.nav-item a{
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}

.btn-primary{
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  padding: 13px 16px;
  cursor: pointer;
  background: linear-gradient(55deg, #F7E93F, #FB09B4, #9100F8);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-icon-right{
    padding-left: 7px;
}


/* banner section styles */

#banner{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #1A0B2E;
    background-image: url("../images/hero-bg.png");
    background-size:cover ;
    background-repeat:no-repeat ;
    background-position: center;
}

.podcast-container{
  justify-content: center;
  align-items: center;
}

.podcast-circle{
    background-image: url("../images/hero-circle.png");
    background-size: contain;
    background-repeat:no-repeat ;
    background-position: center;
    position: relative;
    height: 350px;
    width: 350px;
}
.new-badge{
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 8px 16px;
    background-color: #00FF88;
    box-shadow: 0 3px 27px 0 rgba(0, 255, 136, 0.5);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    animation: zoomInOut 1s ease-in-out infinite;
    -webkit-animation: zoomInOut 1.3s ease-in-out infinite;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.07);
    -webkit-transform: scale(1.07);
    -moz-transform: scale(1.07);
    -ms-transform: scale(1.07);
    -o-transform: scale(1.07);
}
  100% {
    transform: scale(1);
  }
}

.new-badge h5{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}
.podcast-icon{
    padding-top: 80px;
    padding-bottom: 80px;
    justify-content: center;
    align-items: center;

}

.banner-content{
  text-align: center;
  padding-top: 40px; 
}

.banner-title{
    font-size: 3.75rem;
    font-weight: 800;
    color: #fff;
}

.banner-text{
    padding-top: 10px;
    padding-bottom: 24px;
}

.btns{
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.btn2{
  font-size: 1rem;
  font-weight: 600;
  color: #00FF88;
  background-color: transparent;
  padding: 11px 16px;
  cursor: pointer;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border: 1px solid #00FF88;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-icon{
  padding-right: 8px;
}
/* About section styles */
#about{
    padding-top: 50px;
    padding-bottom: 120px;
    background-color: #1A0B2E;

}
.about-section{
    text-align: center;
}
.about-title{
    padding-bottom: 16px;
}

.about-text{
    padding-bottom: 24px;
}

.gap{
    padding-bottom: 80px;
}
.statistics-items{
    padding-top: 80px;
    border-top: 1px solid #312443;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.item-number{
    font-size: 3rem;
    font-weight: 900;
    color: #00FF88;  
}

.item-name{
    text-transform: uppercase;
    padding-top: 16px;
}


/* why-choose section styles */

#why-choose{
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #230E3D;

}
.why-choose-section{
    text-align: center;
}

.feature-cards{
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
}
.card{
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    text-align: left;
    display: flex;
    align-items: center;
}
.long-card{
    grid-column: span 1;
    grid-row: span 2;
    align-items: center;
}

.normal-card{
    grid-column: span 2;
    grid-row: span 1;
}

.small-card{
    grid-column: span 1;
    grid-row: span 1;  
}

.card-title{
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    padding-top: 24px;
    padding-bottom: 16px;
}
.card-text{
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    line-height: 24px;  
}


/* Episodes section styles */

#episodes{
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #1A0B2E;

}
.episodes-section{
    text-align: center;
}

.episodes-container{
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 30px;
}
.episodes-item{
    background-color: #250D44;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.episodes-video iframe{
    max-width: 100%;
    max-height: 250px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.episodes-item-content{
    padding: 24px;
    text-align: left;
}
.episodes-item-title{
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
}

.episodes-item-text{
    font-size: 1rem;
    font-weight: 400;
    color: #fff; 
    padding-top: 12px;
    padding-bottom: 12px;  
}

.episodes-duration{
    align-items: center;
    gap: 8px;
}
.episodes-duration-text{
    font-size: 1rem;
    font-weight: 600;
    color: #00FF88;     
}


/* Host section styles */

#host{
    padding-bottom: 120px;
    background-color: #1A0B2E;

}
.host-section{
    text-align: center;
}
.host-container{
    margin-top: 40px;
    background-color: #230E3D;
    align-items: center;
    gap: 24px;
    padding: 40px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}
.host-content{
    text-align:left;
}
.host-name{
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    padding-bottom: 16px;   
}

.host-social{
  padding-top: 16px;
  display: flex;
  gap: 8px;
}

.host-social li{
  list-style: none;
}

.host-social-icon{
  border: 1px solid #533c72;
  border-radius: 10px;
  -webkit-border-radius: 29px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 11px 11px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.host-social-icon2{
  border: 1px solid #533c72;
  border-radius: 10px;
  -webkit-border-radius: 29px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 9px 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Footer section styles */

footer{
    padding-top: 120px;
    padding-bottom: 120px;
    background-image: url("../images/footer-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.footer-section{
    text-align: center;
    max-width: 600px;
}

.footer-socials{
    padding-top: 32px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);   
}
.social-item span{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
}

.copyright-text{
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    padding-top: 32px;     
}

